<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ul class="carousel-indicators">
    <li *ngFor="let imgSrc of house.imagesSrc; index as i" data-target="#housePhotos" [attr.data-slide-to]="i"
        [ngClass]="i===0?'active':''"></li>
  </ul>

  <div class="carousel-inner">
    <div *ngFor="let imgSrc of house.imagesSrc; index as i"
         [ngClass]="i===0?'carousel-item active':'carousel-item'" style="height: 300px">
      <img src="{{imgSrc}}" alt="House Photo">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#housePhotos" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#housePhotos" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>{{house.name}}</h3>
      <h4><i class='fas fa-house-damage'></i>
        {{house.category}}</h4>
      <h5><i class='fas fa-city'></i>
        {{house.address}}</h5>
      <p><i class='fas fa-bed'></i>
        {{house.bedRooms}} Bed rooms</p>
      <p><i class='fas fa-bath'></i>
        {{house.bathRooms}} Bath rooms</p>
      <p><i class='fas fa-money-check-alt'></i>
        {{house.pricePerNight}} $/night</p>

    </div>
    <div class="col-6">
      <p *ngIf="house.isRented"><i class='fas fa-caret-square-right'></i>
        Rented</p>
      <p *ngIf="!house.isRented"><i class='fas fa-caret-square-right'></i>
        Available</p>
      <p><i class="material-icons">description</i>
        {{house.description}}</p>
    </div>
  </div>
</div>
