<div *ngIf="info.username; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
  </p>
  <a href="history">History Booking</a><br>
  <a href="change-password">Change password</a><br>
  <a href="update-profile">Update Information</a><br>
  <br>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
