<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand navbar-expand-lg navbar-light  fixed-top">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand" href="#">Vinhomes<b> Skylake</b></a>
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start position-static">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="home" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Region <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Aosta Valley</a></li>
          <li><a href="#" class="dropdown-item">Lazio</a></li>
          <li><a href="#" class="dropdown-item">Le Marche</a></li>
          <li><a href="#" class="dropdown-item">Villas</a></li>
        </ul>
      </li>
      <li class="nav-item active"><a href="#" class="nav-link">Services</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>


    </ul>
    <form class="navbar-form form-inline position-static" (ngSubmit)="search()">
      <div class="input-group search-box position-static">
        <input type="text" id="search" [(ngModel)]="criteria.address" class="form-control" placeholder="Search here..." [ngModelOptions]="{standalone: true}">
        <div class="btn-group position-static">
          <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</button>
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split position-static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu w-100">
            <input type="text" placeholder="House Name" class="col-2" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.name" #name>
            <input type="text" placeholder="Address" class="col-2" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.address" #address>
            <input type="text" placeholder="Category" class="col-2" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.category" #category>
            <input type="number" placeholder="Bed Rooms" class="col-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.bedRooms" min="0" #bedRooms>
            <input type="number" placeholder="Bath Rooms" class="col-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.bathRooms" min="0" #bathRooms>
            <input type="number" placeholder="Min Price" class="col-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.minPrice" min="0" #minPrice>
            <input type="number" placeholder="Max Price" class="col-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="criteria.maxPrice" min= "{{minPrice.value}}" #maxPrice>
            <select id="" [(ngModel)]="criteria.status" class="col-2" [ngModelOptions]="{standalone: true}" #status>
              <option value="">-Select status-</option>
              <option value="BOOKED">Booked</option>
              <option value="CHECKED_OUT">Checked out</option>
              <option value="CHECKED_IN">Checked in</option>
              <option value="AVAILABLE">Available</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="authority" class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item dropdown">
        <a   href="host-management">Host Management<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="host-management" class="dropdown-item">HostManagement</a></li>
          <li><a href="houses" class="dropdown-item">List House By User</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <img *ngIf="avatarLink" data-toggle="dropdown" class="btn btn-sq-xs dropdown-toggle" src={{avatarLink}} alt="">
        <img *ngIf="!avatarLink" data-toggle="dropdown" class="btn btn-sq-xs dropdown-toggle" src="http://fleischmen.com/wp-content/uploads/2017/11/user-avatar-placeholder.png" alt="">
        <ul class="dropdown-menu form-wrapper">
          <li>
            <div class="container">
              <app-user-menu></app-user-menu>
            </div>
          </li>
        </ul>
      </li>
    </div>
    <ul *ngIf="!authority" class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle">Login</a>
        <ul class="dropdown-menu form-wrapper">
          <li>
            <div class="container">
              <app-login></app-login>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a routerLink="signup" class="btn btn-primary get-started-btn mt-1 mb-1">Sign up</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->

  <router-outlet ></router-outlet>

<footer   class="py-5 bg-success">
  <div class="container">
    <p class="m-0 text-center text-white">Villa Bastilicata Grande</p>
  </div>
</footer>
</body>
</html>

