<div class="form-gap"></div>
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>You are 30 seconds away from earning your own money!</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Publish house</h3>
          <div class="row register-form">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm"
                  novalidate>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder=" Name *" [(ngModel)]="form.name"
                         #name="ngModel" required/>
                  <div *ngIf="f.submitted && name.invalid">
                    <div *ngIf="name.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="address" placeholder="Address *"
                         [(ngModel)]="form.address" #address="ngModel" required/>
                  <div *ngIf="f.submitted && address.invalid">
                    <div *ngIf="address.errors.required">Address is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" placeholder="BedRoom *" name="bedRooms"
                         [(ngModel)]="form.bedRooms" #bedRooms="ngModel" min="0"/>
                  <div *ngIf="f.submitted && bathRoom.invalid">
                    <div *ngIf="bathRoom.errors.required">BedRoom is required</div>
                  </div>
                </div>
                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="BathRoom *" name="bathRoom"
                           [(ngModel)]="form.bathRooms" #bathRoom="ngModel" required min="0"/>
                    <div *ngIf="f.submitted && bathRoom.invalid">
                      <div *ngIf="bathRoom.errors.required">BathRoom is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="images">House Image</label>
                    <input type="file" accept="image/*" class="form-control" name="images"
                           [(ngModel)]="form.images"
                           #images="ngModel" (change)="getFileDetail($event)" multiple required>
                    <div *ngIf="f.submitted && images.invalid">
                      <div *ngIf="images.errors.required">Image is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select class="form-control" name="category" [(ngModel)]="form.category" #category="ngModel"
                            required>
                      <option class="form-control" class="hidden" selected disabled>Please select House
                        Category
                      </option>
                      <option value="Apartment">Apartment</option>
                      <option value="VILLA">VILLA</option>
                      <option value="NEARBY VILLA">NEARBY VILLA</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Price PerNight* *" name="pricePerNight"
                           [(ngModel)]="form.pricePerNight" #pricePerNight="ngModel" required min="0"/>
                    <div *ngIf="f.submitted && pricePerNight.invalid">
                      <div *ngIf="pricePerNight.errors.required">PriceNight is required</div>
                    </div>
                    <div class="form-group">
                    <textarea name="description" cols="30" rows="10" placeholder="Description"
                              [(ngModel)]="form.description" #description="ngModel" required></textarea>
                      <div *ngIf="f.submitted && description.invalid">
                        <div *ngIf="description.errors.required">Description is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              <input type="submit" class="btnRegister" value="Create "/>
              <div *ngIf="f.submitted && !isPublished" class="alert alert-warning">
                Creat house failed!<br/>{{errorMessage}}
              </div><div *ngIf="f.submitted && isPublished" class="alert alert-success">
                Publish house successfully<br/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
