<div class="form-gap"></div>
<div class="container">
  <div class="row a offset-4">
    <div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock "></i></h3>
            <h6 class="text-center">Reset Password?</h6>
            <p>Please check gmail before entering reset password </p>
            <div class="panel-body">
              <form name="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="gmail">Gmail</label>
                  <input type="text" class="form-control" name="gmail" [(ngModel)]="form.gmail" #gmail="ngModel" required email />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Reset password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
