<div class="form-gap"></div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center center" >
            <h3><i class="fa fa-lock "></i></h3>
            <h6 class="text-center">Forgot Password?</h6>
            <p>You can reset your password here</p>
            <div class="panel-body">
              <form  name="form" (ngSubmit)="sendGmail()" >

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input type="text" class="form-control" name="gmail" [(ngModel)]="gmail.gmail" placeholder="Enter gmail"  />                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Reset Password</button>
                </div>
                <div [hidden]="!submitted">
                <h4>Request to reset password received. Check your inbox for the reset link</h4>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

