<div class="row col-sm-6" style="max-width:350px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Your name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
    </div>
    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="file" accept="image/*" class="form-control" name="avatar" [(ngModel)]="form.avatar" #avatar="ngModel" (change)="fileChange($event)" >
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Update</button>
      <div *ngIf="f.submitted && isUpdateFailed" class="alert alert-warning">
        Update failed!<br/>{{errorMessage}}
      </div>
    </div>
  </form>
</div>
